//----------***BASE.SCSS***----------//
/* Sist oppdatert: 6. Desember  2024 10:04 | Av: isakbh */

/* CSS Fade In Animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animate-glow {
  0% {
    opacity: 0;
    filter: brightness(2);
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
    transform: scale(1, 1);
  }
}

// STYLING AV KNAPPER
button {
    padding: 15px 40px;
    border: none;
    outline: none;
    background-color: #dddddd;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    margin: 0 auto;
    &:hover {
        border-radius: 10px;
        transition: 0.5s;
        background-color: #bebdbd;
        border-radius: 12px;
        transform: scale(1.1);
    }
    &:active {
        background-color: #009578;
        transition: 0.5s;
    }
}

#maps {
    padding-top: 10px;
    padding-bottom: 20px;
}
