// Light Mode Styles
.lightmode {
    background-color: $base-color-light;

    button {
        background-color: #dddddd;
        color: #000;
        &:hover {
            background-color: #bebdbd;
        }
    }
}

// Dark mode
.darkmode {
    background-color: $base-color-dark;
    color: $text-color-dark;

    button {
        background-color: #333333;
        color: $text-color-dark;
        &:hover {
            background-color: #555555;
        }
    }
    #logg {
        background-color: #1a2432;
    }
    .meny_topp {
        background-color: $navbar-background-dark;
    }

    #hjemknapp {
        background-color: $navbar-button-dark;
            button {
                color: $text-color-dark;
                &:hover {
                    background-color: $navbar-button-dark-hover;
                }
            }
    }

    #social {
        color: $text-color-dark;
        &:hover {
            background-color: $navbar-button-dark-hover;
        }
    }

    .meny_topp_høyre {
        background-color: $navbar-button-dark;
            button {
                background-color: $navbar-button-dark;
                color: $text-color-dark;
                &:hover {
                    background-color: $navbar-button-dark-hover;
                }
                &:active {
                    background-color: lighten($navbar-button-dark, 20%);
                }
            }
        }
}
