//----------***LIGHTDARKMODE.SCSS***----------//
/* Sist oppdatert: 27. November 2024 | Av: isakbh */

// Light Mode Styles
.lightmode {
    background-color: $base-color-light;

    button {
        background-color: #dddddd;
        color: #000;
        &:hover {
            background-color: #bebdbd;
        }
    }
}

// Dark mode
.darkmode {
    background-color: $base-color-dark;
    color: $text-color-dark;

    button {
        background-color: $navbar-button-dark;
        color: $text-color-dark;
        &:hover {
            background-color: $navbar-button-dark-hover;
        }
        &:active {
            background-color: lighten($navbar-button-dark, 20%);
        }
    }
    #logg {
        background-color: #1a2432;
    }
    .meny_topp {
        background-color: $navbar-background-dark;
    }

    #hjemknapp {
        background-color: $navbar-button-dark;
        color: $text-color-dark;
        &:hover {
            background-color: #425d80;
        }
        &:active {
            background-color: lighten($navbar-button-dark, 20%);
        }
    }

    #social {
        color: $text-color-dark;
        &:hover {
            background-color: $navbar-button-dark-hover;
        }
    }

    #youtube {
        aspect-ratio: 16 / 9;
        width: 50%;
        border-radius: 12px;
        margin-top: 100px;
        filter: drop-shadow(-8px 8px 20px black);
        &:hover {
            transform: scale(1.025);
        }
    }

    .meny_topp_høyre {
        background-color: $navbar-button-dark;
            button {
                background-color: $navbar-button-dark;
                color: $text-color-dark;
                &:hover {
                    background-color: $navbar-button-dark-hover;
                }
                &:active {
                    background-color: lighten($navbar-button-dark, 20%);
                }
            }
        }

}
