@charset "UTF-8";
.lightmode {
  background-color: #F0F8FF;
}
.lightmode button {
  background-color: #dddddd;
  color: #000;
}
.lightmode button:hover {
  background-color: #bebdbd;
}

.darkmode {
  background-color: #070b1d;
  color: #f8f8f8;
}
.darkmode button {
  background-color: #333333;
  color: #f8f8f8;
}
.darkmode button:hover {
  background-color: #555555;
}
.darkmode #logg {
  background-color: #1a2432;
}
.darkmode .meny_topp {
  background-color: #29394f;
}
.darkmode #hjemknapp {
  background-color: #364c69;
  color: #f8f8f8;
}
.darkmode #hjemknapp:hover {
  background-color: #425d80;
}
.darkmode #hjemknapp:active {
  background-color: rgb(90.5660377358, 125.0188679245, 170.4339622642);
}
.darkmode #social {
  color: #f8f8f8;
}
.darkmode #social:hover {
  background-color: #425d80;
}
.darkmode .meny_topp_høyre {
  background-color: #364c69;
}
.darkmode .meny_topp_høyre button {
  background-color: #364c69;
  color: #f8f8f8;
}
.darkmode .meny_topp_høyre button:hover {
  background-color: #425d80;
}
.darkmode .meny_topp_høyre button:active {
  background-color: rgb(90.5660377358, 125.0188679245, 170.4339622642);
}

/* Navigation bar */
.meny_topp {
  background-color: rgb(225, 237, 248);
  color: #111528 !important;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 2em;
}

#hjemknapp {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F0F8FF;
  color: #111528;
  border-radius: 50px;
  font-size: 1em;
}
#hjemknapp:hover {
  background-color: rgb(204, 212, 219);
}
#hjemknapp:active {
  background-color: rgb(138, 200.4, 255);
}

#social {
  color: black;
  padding: 10px;
  margin: auto 0;
  font-size: 2em;
  border-radius: 50px;
  height: 2em;
}
#social:hover {
  background-color: rgb(204, 212, 219);
  transition: 0.5s;
  padding: 0;
}

.meny_topp_høyre {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px;
  font-size: 1em;
  background-color: #F0F8FF;
}
.meny_topp_høyre button {
  background-color: #F0F8FF;
  border-radius: 20px;
  color: #111528;
}
.meny_topp_høyre button:hover {
  background-color: rgb(204, 212, 219);
}
.meny_topp_høyre button:active {
  background-color: rgb(138, 200.4, 255);
}

@font-face {
  font-family: HackFont;
  src: url(Hack-v3.003-ttf/ttf/Hack-Regular.ttf);
}
/* Essentials */
* {
  font-family: HackFont, Helvetica, Arial, sans-serif !important;
  transition: 0.25s !important;
}

html {
  text-align: center;
  margin: 0;
  padding: 0;
  animation: fadeIn 3s;
  overflow-x: hidden;
  background-color: #F0F8FF;
}

body {
  background-color: #333;
  padding: 5;
  margin: 0 auto;
  text-align: start;
}

button {
  padding: 15px 40px;
  border: none;
  outline: none;
  background-color: #dddddd;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bolder;
  color: #000;
  margin: 0 auto;
}
button:hover {
  border-radius: 10px;
  transition: 0.5s;
  background-color: #bebdbd;
  border-radius: 12px;
  transform: scale(1.1);
}
button:active {
  background-color: #009578;
  transition: 0.5s;
}

/* CSS Fade In Animation*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content {
  display: flex;
  align-items: flex-start;
}

/* Teksten til loggen */
#logg {
  flex: 1;
  top: 0;
  width: 50%;
  padding: 20px 100px 100px 100px;
  margin: 0 auto;
  height: 100%;
  background-color: #e6f3ff;
}

#sidebar {
  display: flex;
  align-items: flex-start;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196f3;
  display: block;
}
.sidebar a:hover {
  color: #064579;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: aliceblue;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #070b1d;
    color: #f8f8f8;
  }
  button {
    background-color: #333333;
    color: #f8f8f8;
  }
  button:hover {
    background-color: #555555;
  }
  #logg {
    background-color: #1a2432;
  }
  .meny_topp {
    background-color: #29394f;
  }
  #hjemknapp {
    background-color: #364c69;
    color: #f8f8f8;
  }
  #hjemknapp:hover {
    background-color: #425d80;
  }
  #social {
    color: #f8f8f8;
  }
  #social:hover {
    background-color: #425d80;
  }
  .meny_topp_høyre {
    background-color: #364c69;
  }
  .meny_topp_høyre button {
    background-color: #364c69;
    color: #f8f8f8;
  }
  .meny_topp_høyre button:hover {
    background-color: #425d80;
  }
  .meny_topp_høyre button:active {
    background-color: rgb(90.5660377358, 125.0188679245, 170.4339622642);
  }
}

/*# sourceMappingURL=dokumentasjon.css.map */
