//----------***DOKUMENTASJON.SCSS***----------//
/* Sist oppdatert: 22. November 2024 | Av: isakbh */

@import "../Include/Styling/farger.scss"; // importer farger fra farger.scss
@import "../Include/Styling/lightdarkmode.scss"; // importer light og dark mode styling
@import "../Include/Styling/navbar.scss"; // importer nav-bar styling

@charset "UTF-8";
@font-face {
    font-family: HackFont;
    src: url(Hack-v3.003-ttf/ttf/Hack-Regular.ttf);
}
/* Essentials */
* {
    font-family: HackFont, Helvetica, Arial, sans-serif !important;
    transition: 0.25s !important;
}

html {
    text-align: center;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
    overflow-x: hidden;
    background-color: $base-color-light;
}

body {
    background-color: #333;
    padding: 5;
    margin: 0 auto;
    text-align: start;
}

button {
    padding: 15px 40px;
    border: none;
    outline: none;
    background-color: #dddddd;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    margin: 0 auto;
    &:hover {
        border-radius: 10px;
        transition: 0.5s;
        background-color: #bebdbd;
        border-radius: 12px;
        transform: scale(1.1);
    }
    &:active {
        background-color: #009578;
        transition: 0.5s;
    }
}

/* CSS Fade In Animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content{
    display: flex;
    align-items: flex-start;
}

/* Teksten til loggen */
#logg {
    flex: 1;
    top: 0;
    width: 50%;
    padding: 20px 100px 100px 100px;
    margin: 0 auto;
    height: 100%;
    background-color: $base-variant-light;
}

// Side-bar
#sidebar {
    display: flex;
    align-items: flex-start;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

/* The navigation menu links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196f3;
    display: block;
    &:hover {
        color: #064579;
    }
}

// automatisk sjekk på den foretrukne fargetema
@media (prefers-color-scheme: light) {
    body {
        background-color: aliceblue;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $base-color-dark;
        color: $text-color-dark;
    }
    button {
        background-color: #333333;
        color: $text-color-dark;
        &:hover {
            background-color: #555555;
        }
    }
    #logg {
        background-color: #1a2432;
    }
    .meny_topp {
        background-color: $navbar-background-dark;
    }

    #hjemknapp {
        background-color: $navbar-button-dark;
        color: $text-color-dark;
        &:hover {
            background-color: $navbar-button-dark-hover;
        }
    }

    #social {
        color: $text-color-dark;
        &:hover {
            background-color: $navbar-button-dark-hover;
        }
    }

    .meny_topp_høyre {
        background-color: $navbar-button-dark;
            button {
                background-color: $navbar-button-dark;
                color: $text-color-dark;
                &:hover {
                    background-color: $navbar-button-dark-hover;
                }
                &:active {
                    background-color: lighten($navbar-button-dark, 20%);
                }
            }
        }
}
