$base-color-light: aliceblue;
$base-variant-light: #e6f3ff; // 20% mørkere versjon av aliceblue
$text-color-light: #111528; // en veldig mørk fargetone av aliceblue
$primary-color-light: aliceblue; // en litt lysere fargetone av background-color-dark
$accent-color-light: #0071ff;

$base-color-dark: #070b1d;
$base-variant-dark: #101425;
$text-color-dark: #f8f8f8;
$primary-color-dark: #3a435d;
$accent-color-dark: #0071ff;

$navbar-background-light: #E1EDF8; // bakgrunnsfargen av nav-baren i light mode
$navbar-button-light: aliceblue; // fargen på knappene på nav-baren i light mode
$navbar-social-light: black; // fargen på social knappene på nav-baren i light mode

$navbar-background-dark: #29394f; // bakgrunnsfarge på nav-baren i dark mode
$navbar-button-dark: #364c69; // fargen på knappene på nav-baren i dark mode
$navbar-button-dark-hover: #425d80; // fargen på knappene på nav-baren når du hoverer over de i dark mode
$navbar-social-dark: #f8f8f8;// fargen på social knappene på nav-baren i dark mode



@charset "UTF-8";
/* Essentials */
* {
    font-family: HackFont, Helvetica, Arial, sans-serif;
    transition: 0.25s !important;
}

html {
    text-align: center;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
    overflow-x: hidden;
}

body {
    background-color: #333;
    padding: 5;
    margin: 0 auto;
    text-align: start;
}

/* Navigation bar */
.meny_topp {
    background-color: rgb(225, 237, 248);
    color: $text-color-light !important;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 2em;
}

#togglelight {
    border-radius: 20px;
    background-color: $base-color-light;
    color: $text-color-light !important;
    &:hover{
        background-color: rgb(204, 212, 219);
    }
}

#hjemknapp {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $base-color-light;
    color: $text-color-light !important;
    border-radius: 50px;
    font-size: 1em;
    &:hover{
        background-color: rgb(204, 212, 219);
    }
}

#social {
    color: black;
    padding: 10px;
    margin: auto 0;
    font-size: 2em;
    border-radius: 50px;
    height: 2em;
    &:hover{
        background-color: rgb(204, 212, 219);
        transition: 0.5s;
        padding: 0;
    }
}

#galleriknapp {
    background-color: $base-color-light;
    border-radius: 20px;
    color: $text-color-light !important;
    &:hover{
        background-color: rgb(204, 212, 219);
    }
}

.meny_topp_høyre {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    font-size: 1em;
    background-color: $base-color-light;
}

h1 {
    margin: 5px 0 0 0;
    padding: 0px;
    text-align: center;
}

hr {
    color: white;
}

button {
    padding: 15px 40px;
    border: none;
    outline: none;
    background-color: #dddddd;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    margin: 0 auto;
    &:hover{
        border-radius: 10px;
        transition: 0.5s;
        background-color: #bebdbd;
        border-radius: 12px;
        transform: scale(1.1);
    }
    &:active{
        background-color: #009578;
        transition: 0.5s;
    }
}

/* CSS Fade In Animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $base-color-light;
        color: black;
    }

    @font-face {
        font-family: HackFont;
        src: url(Hack-v3.003-ttf/ttf/Hack-Regular.ttf);
    }
}
/* Teksten til loggen */
#logg {
    top: 0;
    width: 50%;
    padding: 20px 100px 100px 100px;
    margin: 0 auto;
    height: 100%;
    background-color: $base-variant-light;
}

// Light Mode Styles
.lightmode {
    background-color: $base-color-light;
    color: $text-color-light;

    button {
        background-color: #dddddd;
        color: #000;
        &:hover {
            background-color: #bebdbd;
        }
    }
}

// dark mode
.darkmode {
    background-color: $base-color-dark;
    color: $text-color-dark;

    button {
        background-color: #333333;
        color: $text-color-dark;
        &:hover {
            background-color: #555555;
        }
    }
    #logg{
        background-color: #1A2432;
    }
    .meny_topp{
        background-color: $navbar-background-dark;
    }
    #togglelight {
        border-radius: 20px;
        background-color: $navbar-button-dark;
        color: $text-color-dark;
        &:hover{
            background-color: $navbar-button-dark-hover;
        }
    }

    #hjemknapp {
        background-color: $navbar-button-dark;
        color: $text-color-dark;
        &:hover{
            background-color: $navbar-button-dark-hover;
        }
    }

    #social {
        color: $text-color-dark;
        &:hover{
            background-color: $navbar-button-dark-hover;
        }
    }

    #galleriknapp {
        background-color: $navbar-button-dark;
        color: $text-color-dark;
        &:hover{
            background-color: $navbar-button-dark-hover;
        }
    }

    .meny_topp_høyre {
        background-color: $navbar-button-dark;
    }
}
