@import "../Include/farger.scss"; // importer farger fra farger.scss
@import "../Include/lightdarkmode.scss"; // importer light og dark mode styling
@import "../Include/navbar.scss"; // importer nav-bar styling

@charset "UTF-8";
/* Essentials */
* {
    font-family: HackFont, Helvetica, Arial, sans-serif;
    transition: 0.25s !important;
}

html {
    text-align: center;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
    overflow-x: hidden;
}

body {
    background-color: #333;
    padding: 5;
    margin: 0 auto;
    text-align: start;
}

button {
    padding: 15px 40px;
    border: none;
    outline: none;
    background-color: #dddddd;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    margin: 0 auto;
    &:hover {
        border-radius: 10px;
        transition: 0.5s;
        background-color: #bebdbd;
        border-radius: 12px;
        transform: scale(1.1);
    }
    &:active {
        background-color: #009578;
        transition: 0.5s;
    }
}

/* CSS Fade In Animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content{
    display: flex;
    align-items: flex-start;
}

/* Teksten til loggen */
#logg {
    flex: 1;
    top: 0;
    width: 50%;
    padding: 20px 100px 100px 100px;
    margin: 0 auto;
    height: 100%;
    background-color: $base-variant-light;
}

// Side-bar
#sidebar {
    display: flex;
    align-items: flex-start;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

/* The navigation menu links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196f3;
    display: block;
    &:hover {
        color: #064579;
    }
}
