/* Essentials */
* {
    font-family: HackFont, Helvetica, Arial, sans-serif;
}

html {
    color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #333;
    padding: 5;
    margin: 0;
}

/*Side 2 biografi*/
#biography {
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

#bio2 {
    text-align: start;
    font-size: 1.5em;
}

#isak {
    width: 35%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.5em;
}

#isak2 {
    width: 35%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.5em;
}

#kontakt {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.5em;
}

@media only screen and (max-width: 1200px) {
    #biography {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    #isak {
        width: 75%;
        margin: 0 auto;
        text-align: left;
        font-size: 1.5em;
    }

    #isak2 {
        width: 75%;
        margin: 0 auto;
        text-align: left;
        font-size: 1.5em;
    }
}

/*Automatisk sjekk av default color-themeen til nettleseren*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: aliceblue;
        color: black;
    }

    /* CSS Fade In Animation*/
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* Hack font */
    @font-face {
        font-family: HackFont;
        src: url(Hack-v3.003-ttf/ttf/Hack-Regular.ttf);
    }

    div.gallery {
        border-color: black;
    }

    div.gallery:hover {
        border: 5px solid black;
    }

    .light-mode {
        background-color: #333333;
        color: aliceblue;
    }

    .meny_topp {
        background-color: rgb(225, 237, 248);
    }
}

/*Styling av knapper*/

button {
    padding: 15px 40px;
    border: none;
    outline: none;
    background-color: #dddddd;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    border-radius: 10px;
    transition: 0.5s;
    background-color: #bebdbd;
    border-radius: 12px;
    transform: scale(1.2);
}

/**/
