@charset "UTF-8";
/* Sist oppdatert: 27. November 2024 | Av: isakbh */
/* Sist oppdatert: 27. November 2024 | Av: isakbh */
.lightmode {
  background-color: #F0F8FF;
}
.lightmode button {
  background-color: #dddddd;
  color: #000;
}
.lightmode button:hover {
  background-color: #bebdbd;
}

.darkmode {
  background-color: #070b1d;
  color: #f8f8f8;
}
.darkmode button {
  background-color: #364c69;
  color: #f8f8f8;
}
.darkmode button:hover {
  background-color: #425d80;
}
.darkmode button:active {
  background-color: rgb(90.5660377358, 125.0188679245, 170.4339622642);
}
.darkmode #logg {
  background-color: #1a2432;
}
.darkmode .meny_topp {
  background-color: #29394f;
}
.darkmode #hjemknapp {
  background-color: #364c69;
  color: #f8f8f8;
}
.darkmode #hjemknapp:hover {
  background-color: #425d80;
}
.darkmode #hjemknapp:active {
  background-color: rgb(90.5660377358, 125.0188679245, 170.4339622642);
}
.darkmode #social {
  color: #f8f8f8;
}
.darkmode #social:hover {
  background-color: #425d80;
}
.darkmode #youtube {
  transition: 0.2s ease-out;
  aspect-ratio: 16/9;
  width: 90%;
  border-radius: 12px;
  margin-top: 100px;
  filter: drop-shadow(0 0 20px white);
}
.darkmode #youtube:hover {
  transform: scale(1.025);
  filter: drop-shadow(0 0 50px white);
}
.darkmode .meny_topp_høyre {
  background-color: #364c69;
}
.darkmode .meny_topp_høyre button {
  background-color: #364c69;
  color: #f8f8f8;
}
.darkmode .meny_topp_høyre button:hover {
  background-color: #425d80;
}
.darkmode .meny_topp_høyre button:active {
  background-color: rgb(90.5660377358, 125.0188679245, 170.4339622642);
}

/* Navigation bar */
.meny_topp {
  background-color: rgb(225, 237, 248);
  color: #111528 !important;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 2em;
}

#hjemknapp {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F0F8FF;
  color: #111528;
  border-radius: 50px;
  font-size: 1em;
}
#hjemknapp:hover {
  background-color: rgb(204, 212, 219);
}
#hjemknapp:active {
  background-color: rgb(138, 200.4, 255);
}

#social {
  color: black;
  padding: 10px;
  margin: auto 0;
  font-size: 2em;
  border-radius: 50px;
  height: 2em;
}
#social:hover {
  background-color: rgb(204, 212, 219);
  transition: 0.5s;
  padding: 0;
}

.meny_topp_høyre {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px;
  font-size: 1em;
  background-color: #F0F8FF;
}
.meny_topp_høyre button {
  background-color: #F0F8FF;
  border-radius: 20px;
  color: #111528;
}
.meny_topp_høyre button:hover {
  background-color: rgb(204, 212, 219);
}
.meny_topp_høyre button:active {
  background-color: rgb(138, 200.4, 255);
}

/* Essentials */
* {
  font-family: HackFont, Helvetica, Arial, sans-serif;
  transition: 0.25s !important;
}

html {
  color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
  animation: animate-glow 1s;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #333;
  padding: 5;
  margin: 0;
}

h1 {
  margin: 5px 0 0 0;
  padding: 0px;
  text-align: center;
}

hr {
  color: white;
}

button {
  padding: 15px 40px;
  border: none;
  outline: none;
  background-color: #dddddd;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bolder;
  color: #000;
  margin: 0 auto;
}
button:hover {
  border-radius: 10px;
  transition: 0.5s;
  background-color: #bebdbd;
  border-radius: 12px;
  transform: scale(1.1);
}
button:active {
  background-color: #009578;
  transition: 0.5s;
}

#gallery {
  line-height: 0;
  column-count: 5;
  column-gap: 5px;
  z-index: 0;
}
#gallery img {
  width: 100% !important;
  height: auto !important;
  border-radius: 5px;
  margin-top: 5px;
  filter: brightness(1);
}

#galleribilde:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  z-index: 100000000000000000;
}

.advarsel {
  color: #009578;
  text-align: center;
  position: center;
  margin: 0 auto;
}

.Ã¸verst {
  text-align: center;
}

.etteroverst {
  text-align: center;
  margin: 0 auto;
}

#about {
  display: flex;
  padding: 0 8px;
  width: 50%;
  margin: 0 auto;
  text-align: start;
}

#descript#ion {
  width: 200%;
  margin: 0 auto;
  text-align: start;
}

#millie-bilde {
  transition: 0.5s ease-out;
  width: 100%;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 10px #ccc);
}

#millie-bilde:hover {
  transform: scale(1.025);
  filter: drop-shadow(10px 10px 20px #ccc);
}

#youtube {
  margin-top: 100px;
}

#youtube {
  transition: 0.2s ease-out;
  aspect-ratio: 16/9;
  width: 90%;
  border-radius: 12px;
  margin: 5px 0 5px 0;
  filter: drop-shadow(0px 0px 20px black);
}
#youtube:hover {
  transform: scale(1.025);
  filter: drop-shadow(0px 0px 50px black);
}

/* CSS Fade In Animation*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-glow {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}
@media only screen and (max-width: 1000px) {
  #about {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  #description {
    width: 100%;
    text-align: left;
  }
  #millie-bilde {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  #videotekst {
    text-align: start;
    margin: 0 auto;
    width: 90%;
  }
  #knapp {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  #gallery {
    display: table-row;
    column-gap: 20px;
    margin-bottom: 20px;
  }
  #gallery img {
    width: 100%;
    height: autot;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px !important;
  }
  #galleribilde:hover {
    transform: none;
    z-index: 10;
    transform: scale(1);
    filter: brightness(1);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: aliceblue;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #070b1d;
    color: #f8f8f8;
  }
  button {
    background-color: #333333;
    color: #f8f8f8;
  }
  button:hover {
    background-color: #555555;
  }
  #logg {
    background-color: #1a2432;
  }
  .meny_topp {
    background-color: #29394f;
  }
  #hjemknapp {
    background-color: #364c69;
    color: #f8f8f8;
  }
  #hjemknapp:hover {
    background-color: #425d80;
  }
  #social {
    color: #f8f8f8;
  }
  #social:hover {
    background-color: #425d80;
  }
  .meny_topp_høyre {
    background-color: #364c69;
  }
  .meny_topp_høyre button {
    background-color: #364c69;
    color: #f8f8f8;
  }
  .meny_topp_høyre button:hover {
    background-color: #425d80;
  }
  .meny_topp_høyre button:active {
    background-color: rgb(90.5660377358, 125.0188679245, 170.4339622642);
  }
}

/*# sourceMappingURL=styling.css.map */
