/* Essentials */
* {
    font-family: HackFont, Helvetica, Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
}

html {
    color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #333;
    padding: 5;
    margin: 0;
    margin-top: 3.5em;
}

/* Navigation bar */
.meny_topp {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    height: 2em;
    position: fixed;
    z-index: 10000;
    top: 0;
}

#togglelight {
    border-radius: 20px;
    background-color: aliceblue;
    z-index: 10000;
}

#togglelight:hover {
    background-color: rgb(204, 212, 219);
}

#hjemknapp {
    position: fixed;
    top: 0;
    left: 0;
    background-color: aliceblue;
    border-radius: 50px;
    font-size: 1em;
    z-index: 100000;
}

#hjemknapp:hover {
    background-color: rgb(204, 212, 219);
}

#social {
    color: black;
    padding: 10px;
    margin: auto 0;
    font-size: 2em;
    border-radius: 50px;
    height: 2em;
}

#social:hover {
    /*color: #009578;*/
    background-color: rgb(204, 212, 219);
    transition: 0.5s;
    padding: 0;
}

#galleriknapp {
    background-color: aliceblue;
    z-index: 100000;
}

#galleriknapp:hover {
    background-color: rgb(204, 212, 219);
}

.meny_topp_høyre {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    font-size: 1em;
    background-color: aliceblue;
    z-index: 10000;
    position: fixed;
}

h1 {
    margin: 5px 0 0 0;
    padding: 0px;
    text-align: center;
}

button {
    padding: 15px 40px;
    border: none;
    outline: none;
    background-color: #dddddd;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    border-radius: 10px;
    transition: 0.5s;
    background-color: #bebdbd;
    border-radius: 12px;
    transform: scale(1.1);
}

button:active {
    background-color: #009578;
    transition: 0.5s;
}

.light-mode {
    background-color: #333333;
    color: aliceblue;

}

.meny_topp {
    background-color: rgb(225, 237, 248);
}

#bio {
    display: flex;
    padding: 0 8px;
    width: 50%;
    margin: 0 auto;
}



/* BLOG POSTS
#blog {
    column-count: 2;
    column-gap: 5px;
    width: 99%;
    margin: 20px auto;
    font-size: 1.5em;
    color: black;
    flex: 1;
}

#blog img {
    width: 100%;
    height: auto ;
    margin-top: 20px;
    margin-bottom: 20px
}

#blogpost {
    color: black;
    transition: 0.2s;
}

#blogpost:hover {
    transform: scale(1.05);
}

#blogspan {
    line-height: 25px;
}
*/

.container {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.row {
    display: flex;
    margin: 0 auto;
    width: 60%;
}

.column {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.item {
    text-align: center;
    margin-bottom: 20px;
    transition: 0.2s;
    overflow-y: hidden;
}

.item:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

hr {
    width: 40%;
    font-weight: bolder;
    margin: 0 auto;
}

#sources {
    margin-top: 50px;
    background-color: #e1edf8;
    padding: 10px;
    height: 1em;
    width: 100%;
    bottom: 0;
}

/*MEDIA*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }

    .meny_topp {
        background-color: aliceblue;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: aliceblue;
        color: black;
    }

    @font-face {
        font-family: HackFont;
        src: url(Hack-v3.003-ttf/ttf/Hack-Regular.ttf);
    }

    /* CSS Fade In Animation*/
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}