$base-color-light: aliceblue; // basis fargen for light mode
$base-variant-light: #e6f3ff; // 20% mørkere versjon av aliceblue
$text-color-light: #111528; // en veldig mørk fargetone av aliceblue
$primary-color-light: aliceblue; // hoved fargen i light mode
$accent-color-light: #0071ff; // aksenet fargen i dark mode

$base-color-dark: #070b1d; // basis fargen for dark mode
$base-variant-dark: #101425; // 20% lysere versjon av basis fargen
$text-color-dark: #f8f8f8; // tekst fargen for dark mode
$primary-color-dark: #3a435d; // hoved fargen for dark mode
$accent-color-dark: #0071ff; // aksent fargen for dark mode

$navbar-background-light: #e1edf8; // bakgrunnsfargen av nav-baren i light mode
$navbar-button-light: #F0F8FF; // fargen på knappene på nav-baren i light mode
$navbar-social-light: black; // fargen på social knappene på nav-baren i light mode
$navbar-background-dark: #29394f; // bakgrunnsfarge på nav-baren i dark mode
$navbar-button-dark: #364c69; // fargen på knappene på nav-baren i dark mode
$navbar-button-dark-hover: #425d80; // fargen på knappene på nav-baren når du hoverer over de i dark mode
$navbar-social-dark: #f8f8f8; // fargen på social knappene på nav-baren i dark mode
