html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#input {
    transition-duration: 0.25s;
    background-color: #dcfce7;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #c7f9d9;
    margin-bottom: 2px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#input:hover {
    background-color: #c7f9d9;
}

#skibidi {
    transition-duration: 0.25s;
    background-color: #c2e5fc ;
    padding: 10px;
    width: 185px;
    border-radius: 20px;
    border: 2px solid #a5d6f7;
    margin-bottom: 2px;
    font-family: "Segoe
    Verdana, sans-serif;
}

#skibidi:hover {
    background-color: #a5d6f7;
}
